extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='public/js/osc-browser.min.js')
  script.
    var port = new osc.WebSocketPort({
      // url: 'ws://localhost:3000'
      url: 'ws://www.crowdmap.fm'
    });
    port.on('message', function (oscMsg) {
      console.log('Got WS: ', oscMsg);
    });

    port.open();

    var sayHello = function () {
      port.send({
        address: '/test',
        args: ['hopethisworks']
      });
    };

    function handleOrientation(event) {
      var absolute = event.absolute;
      var alpha = event.alpha;
      var beta = event.beta;
      var gamma = event.gamma;

      port.send({
        address: '/orientation/beta',
        args: [{
          type: 'f',
          value: beta
        }]
      });
    }

    window.addEventListener("deviceorientation", handleOrientation);

  button(onclick='sayHello()') Send OSC message
