extends layout

block content
  h1= title
  p Welcome to #{title}

  pre#doeSupported
  pre#output

  script(src='public/js/osc-browser.min.js')
  script.
    var port = new osc.WebSocketPort({
      // url: 'ws://localhost:3000'
      url: 'wss://crowdmap.fm'
    });

    var currentDestination;
    var currentSource;

    port.on('message', function (oscMsg) {
      console.log('Got WS: ', oscMsg);
      currentDestination = oscMsg.address;
      currentSource = oscMsg.args[0];
    });

    port.open();

    var sayHello = function () {
      port.send({
        address: '/test',
        args: ['hopethisworks']
      });
    };

    var output = document.getElementById('output');

    function handleOrientation(event) {
      var absolute = event.absolute;
      var alpha = event.alpha;
      var beta = event.beta;
      var gamma = event.gamma;

      output.innerHTML = 'Beta: ' + beta;

      port.send({
        timeTag: osc.timeTag(0),
        packets: [
          {
            address: '/orientation/alpha',
            args: [{type: 'f', value: alpha}]
          }, {
            address: '/orientation/beta',
            args: [{type: 'f', value: beta}]
          }, {
            address: '/orientation/gamma',
            args: [{type: 'f', value: gamma}]
          }
        ]
      });
    }
