extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='public/js/osc-browser.min.js')
  script.
    var port = new osc.WebSocketPort({
      // url: 'ws://localhost:3000'
      url: 'ws://crowdmap.fm'
    });
    port.on('message', function (oscMsg) {
      console.log('Got WS: ', oscMsg);
    });
    port.open();

    var sayHello = function () {
      port.send({
        address: '/hello',
        args: ['world']
      });
    };

  button(onclick='sayHello()') Send OSC message
