option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: /public
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"

#commands:
#  01_set_path:
#    command: echo 'export PATH=$PATH:`ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin' >> /root/.bash_profile
#  02_set_path:
#    command: export PATH=$PATH:`ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin
#  03_nodegyp:
#    command: "npm install -g node-gyp"